* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s;
    font-family: "Plus Jakarta Sans", sans-serif;
    scrollbar-width: none;
}

:root {
    --primary-color: #141416;
    --secondary-color: #19352D;
    --text-color: #C4F500;
    --opacity-color: #196164;
}

#preloader {
    position: fixed;
    inset: 0;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* transition: opacity 0.5s ease; */
}

#preloader.hidden {
    opacity: 0;
    pointer-events: none;
}

.loader {
    height: 22px;
    aspect-ratio: 5;
    --_g: no-repeat radial-gradient(farthest-side, var(--text-color) 94%, #0000);
    background: var(--_g), var(--_g), var(--_g), var(--_g);
    background-size: 20% 100%;
    animation:
        l40-1 .75s infinite alternate,
        l40-2 1.5s infinite alternate;
}

@keyframes l40-1 {

    0%,
    10% {
        background-position: 0 0, 0 0, 0 0, 0 0
    }

    33% {
        background-position: 0 0, calc(100%/3) 0, calc(100%/3) 0, calc(100%/3) 0
    }

    66% {
        background-position: 0 0, calc(100%/3) 0, calc(2*100%/3) 0, calc(2*100%/3) 0
    }

    90%,
    100% {
        background-position: 0 0, calc(100%/3) 0, calc(2*100%/3) 0, 100% 0
    }
}

@keyframes l40-2 {

    0%,
    49.99% {
        transform: scale(1)
    }

    50%,
    100% {
        transform: scale(-1)
    }
}

input {
    padding: 7px 15px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

/* Home */
#Home{
    width: 100%;
    height: 700px;
}

.container-home{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(./img/bg\ img.png);
    width: 100%;
    height: 680px;
    background-size: cover;
    padding: 50px;
    padding-top: 100px;
}

.home-img{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-top: 20px;
}

.home-h1{
    font-size: 55px;
    font-weight: bold;
    color: white;
    margin-top: 50px;
}

.home-p{
    font-size: 15px;
    font-weight: 400;
    color: white;
}

.home-h1-span{
    color: var(--text-color);
}
/* Home */

/* Strategic */
.container-strategic{
    width: 100%;
    height: 700px;
    margin-top: -20px;
    padding: 20px 70px;
    background-color: #000;
}

.strategic-h1{
    font-size: 55px;
    font-weight: bold;
    margin: 60px auto;
    text-align: center;
    color: white;
}

.card-group{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.card-strategic{
    width: 360px;
    height: 340px;
    border: 1px solid var(--secondary-color);
    color: white;
    padding: 40px;
    text-align: left;
    display: flex;
    gap: 15px;
    flex-direction: column;
    border-radius: 15px 25px 15px 25px;
}

.strategic-icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
}

.strategic-h3{
    font-size: 24px;
}

.strategic-p{
    font-size: 15px;
}

.strategic-learn{
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
}

/* Strategic */


/* footer css */
footer {
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    padding: 10px;
}

.footer-section h4 {
    color: var(--secondary-color);
    margin-bottom: 10px;
    font-weight: bold;
}

.footer-section a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

.footer-section a:hover {
    text-decoration: underline;
}

.contact-info {
    margin-top: 10px;
}

.subscribe {
    margin-top: 10px;
}

#followButton {
    background-color: var(--button-text-color);
    color: white;
    border: none;
    padding: 7px 20px;
    border-radius: 5px;
    cursor: pointer;
}