* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s;
    font-family: "Plus Jakarta Sans", sans-serif;
}

/* navbar */
nav {
    background-color: #88bdbc;
    padding: 20px 20px;
    height: 10%;
    width: 100%;
    color: #f6f9fa;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.nav-link {
    font-weight: bolder;
    color: #fff;
    letter-spacing: 1px;
}

.nav-link:hover {
    color: #254e58;
}


.Dropdown-menu {
    display: none;
    margin-top: 15px;
    height: 0;
    width: 100%;
    background-color: #88bdbc;
    backdrop-filter: blur(100px);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    padding: 50px;

}

.Dropdown-menu li {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.Dropdown-menu.open{
    width: 100%;
    height: 280px;
}

.sayt-logo {
    width: 40px;
    height: 40px;
    margin-top: -6px;
    margin-left: 30px;
}

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
    /* letter-spacing: 1px; */
}

.navbar-brand-span {
    color: #254e58;
}

.container-fluid {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}


/* Home */

#home{
    width: 100%;
    height: 700px;
}

.container-home{
    width: 100%;
    height: 100vh;
    background-color: #88bdbc;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
}

.left-home{
    padding: 30px;
}

.left-home-h1{
    font-weight: bold;
    color: white;
    font-size: 55px;
}

.left-home-h1-span{
    color: #254e58;
}

.left-home-p{
    color: white;
    font-size: 19px;
}

.right-home{
    padding: 30px;
}

.right-home-img{
    width: 500px;
    height: 500px;
    border-radius: 10px 75px 10px 75px;
    border: 5px solid #254e58;
    box-shadow: 5px 7px 25px grey;
}

/* About */

.container-about{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
}
.about-p{
    padding: 30px;
    font-size: 18px;
    text-align: center;
}